[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-docx = "==1.1.0"
lxml = "==5.0.0"
typing-extensions = "==4.9.0"

[dev-packages]

[requires]
python_version = "3.12"
